@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0c15;
  --foreground: #171717;
  --text: #cad1e9;
  --primary: #f33cc0;
  --secondary: #4349ff;
  --aeonik-md: "Aeonik Medium";
  --aeonik-regular: "Aeonik Regular";
}

@font-face {
  font-family: "Aeonik Regular";
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot");
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.svg#Aeonik Regular")
      format("svg");
}
@font-face {
  font-family: "Aeonik Medium";
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot");
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.svg#Aeonik Medium")
      format("svg");
}
@layer base {
  :root {
    --foreground: #171717;
    --background: #0e0c15;
    --aeonik-regular: "Aeonik Regular";
    --aeonik-md: "Aeonik Medium";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--foreground);
    background: url(/images/body-bg.webp), var(--background);
    font-family: "Sora", serif; /* You can also use a Tailwind font class here */
  }
  p {
    color: var(--text);
    font-weight: 400;
    font-family: var(--aeonik-regular);
  }

  .aeonik-regular {
    font-family: var(--aeonik-regular);
  }

  .aeonik-md {
    font-family: var(--aeonik-md);
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 md:px-6  text-white font-normal focus:outline-none text-sm md:text-base rounded-xl;
  }
  .btn-primary {
    @apply flex items-center gap-1 text-gray-300;
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    box-shadow: inset 0 0 12px 0 rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Optional hover effect */
  }
  .btn-secondary {
    @apply flex items-center gap-1 text-gray-300;
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    box-shadow: inset 0 0 12px 0 rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;

    padding: 12px 20px;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(
      110deg,
      #ffe1e1 3%,
      rgba(255, 255, 255, 0.38) 114%
    );
    border-image-slice: 1;
    background-image: linear-gradient(71deg, #090edb 9%, #da24bb 85%),
      linear-gradient(110deg, #ffe1e1 3%, rgba(255, 255, 255, 0.38) 114%);
    background-origin: border-box;
    /* background-clip: content-box, border-box; */
    /* background: linear-gradient(to right, #7f51c4 0%, #de98f7 50%, #6b3eec 100%); */
    border: 1px solid #6458e3 !important;
  }

  .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Optional hover effect */
  }
  .subtile-title {
    @apply inline-flex py-1 px-4 items-center gap-1 text-sm rounded-full text-gray-300 cursor-pointer;
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    box-shadow: inset 0 0 12px 0 rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.08);
    background-color: #0f0b15;
    transition: background-color 0.3s ease;
  }
  .sec-head {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@layer utilities {
  .sec-title-gredient {
    background: rgb(243, 60, 192);
    background: linear-gradient(0deg, var(--secondary) 30%, var(--primary) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  section {
    padding-block: clamp(40px, 6vw, 90px);
  }
  .section-100 {
    padding-block: clamp(40px, 76vw, 100px);
  }
}

/* border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(76deg, #090edb 32%, #8d1ea2 90%);
  border-image-slice: 1; */
nav a {
  font-family: var(--aeonik-regular);
}
nav {
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(15, 12, 23, 0.14);
}

/* contact cards start */
.contact-card {
  /* background: rgb(112, 113, 122);
  background: linear-gradient(
    356deg,
    rgba(112, 113, 122, 1) 0%,
    rgba(27, 28, 54, 1) 100%
  ); */
  flex-grow: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(11.7px);
  backdrop-filter: blur(11.7px);
  /* border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    287deg,
    rgba(255, 255, 255, 0.07) 99%,
    rgba(255, 255, 255, 0.15) 3%
  );
  border-image-slice: 1; */
  background: linear-gradient(164deg, #1b1c36 24%, #70717a 66%),
    linear-gradient(
      287deg,
      rgba(255, 255, 255, 0.07) 99%,
      rgba(255, 255, 255, 0.15) 3%
    );
  background: linear-gradient(
    287deg,
    rgba(255, 255, 255, 0.07) 99%,
    rgba(255, 255, 255, 0.15) 3%
  );
  box-shadow: 0 0 0 1px #2d2e48;
  font-family: var(--aeonik-regular);
  /* background-origin: border-box;
  background-clip: content-box, border-box; */
}
.contact-card-icon {
  width: 44px;
  height: 44px;
  flex-grow: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #2d2e48;
  background-color: rgba(255, 255, 255, 0.07);
}

.banner {
  background: url(/images/Header4.png) no-repeat center center/ cover;
  padding-bottom: 200px;
  /* margin-top: -80px; */
}
img.Card-icon01 {
  width: 52px;
  height: 52px;
  flex-grow: 0;
  object-fit: contain;
  border-radius: 13px;
  background-image: linear-gradient(143deg, #0a0fdb -11%, #8d00a6 112%);
}

.Carousel-cardbase1 {
  width: 424px;
  height: 370px;
  flex-grow: 0;
  padding: 32px 31px 32px 32px;
  border-radius: 32px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(49deg, #090edb -13%, #e73dc4 104%);
  border-image-slice: 1;
  background-image: linear-gradient(
      132deg,
      #0e0c15 1%,
      rgba(14, 12, 21, 0) 103%
    ),
    linear-gradient(49deg, #090edb -13%, #e73dc4 104%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

img.Frame-61 {
  width: 1320px;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 0 0 280px 493px;
  padding: 40px;
  object-fit: contain;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-style: solid;
  border-width: 1.2px;
  border-image-source: linear-gradient(
    252deg,
    #101132 104%,
    rgba(119, 124, 247, 0) -1%
  );
  border-image-slice: 1;
  background-image: linear-gradient(74deg, #000 25%, #53546c 98%),
    linear-gradient(252deg, #101132 104%, rgba(119, 124, 247, 0) -1%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.Frame-52 {
  width: 242px;
  height: 74px;
  margin: 143px 1078px 0 493px;
  padding: 11px 43px 11px 12px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(61.7px);
  backdrop-filter: blur(61.7px);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    63deg,
    #2c2d47 53%,
    rgba(68, 74, 226, 0.05) 94%
  );
  border-image-slice: 1;
  background-image: linear-gradient(164deg, #1b1c36 24%, #70717a 66%),
    linear-gradient(63deg, #2c2d47 53%, rgba(68, 74, 226, 0.05) 94%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.stroke {
  width: 140px;
  height: 22px;
  padding: 5px 16.5px 3px;
  border-radius: 38px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    to right,
    #7f51c4 0%,
    #de98f7 50%,
    #6b3eec 100%
  );
  border-image-slice: 1;
}
